{% extends "admin/change_form.html" %}
{% load static %}

{% block extrahead %}
    {{ block.super }}
    <script src="{% static 'libs/highcharts.js' %}"></script>
    <!--[if lt IE 9]>
    <script src="{% static 'libs/oldie.js' %}"></script>
    <![endif]-->
    <script src="{% static 'libs/highcharts-3d.js' %}"></script>
    <script src="{% static 'libs/exporting.js' %}"></script>
    <script src="{% static 'libs/export-data.js' %}"></script>
{% endblock %}

{% block after_related_objects %}
    {{ block.super }}
    <div id="timeLive" style="min-width: 310px; height: 400px; margin: 0 auto"></div>

    <script>

        const sortChronologically = poll => ({
            options: poll.options,
            votes: poll.votes.sort((vote1, vote2) => vote1.time - vote2.time)
        });


        /* Time line */

        /*  an array of [timestamp, value] is the required data */

        const generateTimeSeries = poll => {
            const modifyTimeSeries = (timeSeries, timeStamp, increment) => {
                const lastVal = timeSeries.length === 0 ? 0 : timeSeries[timeSeries.length - 1][1];
                timeSeries.push([timeStamp, increment ? lastVal + 1 : lastVal - 1])
            };
            let results = new Map(poll.options.map(o => [o, []]));
            let active_vote = new Map(); // phone number to option, for deduplicating/detecting changes

            sortChronologically(poll);

            for (const vote of poll.votes) {
                if (!active_vote.has(vote.nr)) { // this is the first vote cast by nr
                    active_vote.set(vote.nr, vote.option);
                    modifyTimeSeries(results.get(vote.option), vote.time, true)
                } else if (active_vote.get(vote.nr) !== vote.option) { // changed vote
                    const previousOption = active_vote.get(vote.nr);
                    active_vote.set(vote.nr, vote.option);
                    modifyTimeSeries(results.get(previousOption), vote.time, false);
                    modifyTimeSeries(results.get(vote.option), vote.time, true)
                } // else do nothing: bipped to previous option
            }

            return Array.from(results).map(x => ({name: x[0], data: x[1], step: 'end'}))
        };

        // live updating, given some url to a json file

        const drawLiveTimeSeries = (htmlID, url) => {
            fetch(url, {cache: "no-cache"})
                .then(response => {
                    if (!response.ok) {
                        throw new Error("Fetch response not ok: " + response.status);
                    } else {
                        return response.json();
                    }
                })
                .then(initialData => {
                    const chart = Highcharts.chart(htmlID, {
                        chart: {
                            zoomType: 'x',
                            animation: Highcharts.svg, // don't animate in old IE
                            events: {
                                load: function () {
                                    setInterval(() => {
                                        fetch(url, {cache: "no-cache"})
                                            .then(response => {
                                                if (!response.ok) {
                                                    throw new Error("Fetch response not ok: " + response.status);
                                                } else {
                                                    return response.json();
                                                }
                                            })
                                            .then(data => {
                                                const latestSeries = generateTimeSeries(data);

                                                for (const [i, seriesObject] of chart.series.entries()) {
                                                    seriesObject.setData(latestSeries[i].data);
                                                }
                                            })
                                            .catch(e => console.error(e.stack));
                                    }, 5000);
                                }
                            }
                        },
                        title: {
                            text: "Results (updated live)"
                        },
                        subtitle: {
                            text: document.ontouchstart === undefined ?
                                'Click and drag in the plot area to zoom in' : 'Pinch the chart to zoom in'
                        },
                        xAxis: {
                            type: 'datetime'
                        },
                        yAxis: {
                            title: {
                                text: 'Total number of bips (cumulative)'
                            }
                        },
                        legend: {
                            enabled: true
                        },
                        series: generateTimeSeries(initialData),
                        time: {
                          timezoneOffset: new Date().getTimezoneOffset()
                        }
                    });
                })
                .catch(e => console.error(e.stack));
        };

        drawLiveTimeSeries("timeLive", "/polls/votes-json/{{ original.id }}");
    </script>
{% endblock %}


